name: Publish to Github Packages

on:
  push:
    branches:
      - main
    tags:
      # X.Y.Z and X.Y.Z-rc{VERSION}
      - '[0-9]+.[0-9]+.[0-9]+(-rc[0-9]+)?'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build plugin jar
        run: ./gradlew build

      - name: Publish to Github Packages
        run: |
          ./gradlew publish
        env:
          GH_ACTOR: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

